.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.button {
  width: 300px;
  height: 100px;
  font-size: 24px;
  border-radius: 8px;
  background: var(--primary-glow);
}
