.main {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.heading {
  font-size: 2.5rem;
  font-weight: 400;
  color: #7c7c7c;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 16px;
  max-width: 600px;
  flex-wrap: wrap;
}

.button {
  width: 240px;
  height: 100px;
  font-size: 24px;
  border-radius: 8px;
  background: var(--primary-glow);
}

.image_container {
  position: relative;
}

.image_loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 512px;
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: rgba(0, 0, 139, 0.3);
}

.image_placeholder {
  width: 512px;
  height: 512px;
  border-radius: 8px;
  border: 2px solid blue;
}

.image {
    width: 512px;
    height: 512px;
    border-radius: 8px;
    object-fit: cover;
}
.input_container {
  display: flex;
  gap: 8px;
}
